In [14]:
import os
import pandas as pd

print(os.listdir())

df = pd.read_csv('../../Data/EV_Data.csv')
df.head()

['Analise_Exploratoria.ipynb']

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [22]:
print(f"Numero de Linhas: {len(df)}(DataPoints)")
print("--------------------------")
print(f"Tendo Colunas: ")

for col in df.columns:
    print(col)

print("--------------------------")

Numero de Linhas: 3798(DataPoints)
--------------------------
Tendo Colunas:
region
category
parameter
mode
powertrain
year
unit
value
--------------------------